# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\杨诚睿 2019091611030\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
